div#container {
	background-color: #f0f0f0;
}

div#left {
	float: left;
}

div#right {
	float: right;
}

div#paper {
	border-right: 1px solid black;
}

div #buttons {
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 195px;
}

input {
	margin-bottom: 15px;
	width: 195px;
	height: 30px;
}

.erase-mode {
	background-color: red;
}
