div#container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	width: 555px;
	background-color: #f0f0f0;
	border: 1px solid black;
}

div#top {
	border-bottom: 3px solid black;
}

div#bottom {
	margin-top: 15px;
}
